{% extends 'base.html.twig' %}
{% block contenu %}
<h1>Bienvenue sur la page d'accueil de Prostages</h1>
<ul class="list-group list-group-flush">
  <li class="list-group-item"><a href="{{path('prostages_ajoutEntreprise')}}" class="link-danger">Ajouter une entreprise</a></li>
<!--  <li class="list-group-item">A second item</li>-->
</ul>
{% endblock %}
